<footer>
    <div class="container">
        <p>All content &copy; 2015 <a href="http://www.pronovix.com">Pronovix.com</a></p>
    </div><!-- container -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


<!--This is my own js file that overwrite the default bootstap attributes-->
<script src="js/myscript.js"></script>

<!-- Tim js -->
<script src="js/ct-navbar.js"></script>

</footer>